.mobile_navbar{ display: none; }

.mobile_navbar{ background-color: #36556C; box-shadow: 0px 4px 4px 0px #00000024, 0px 1px 1px 0px #0000004D; }

.mobile_navbar ul{ display: flex; align-items: center; justify-content: center;  margin: 0px -18px; }
.mobile_navbar ul li{ padding: 0px 18px; text-align: center; }
.mobile_navbar ul li a{ color: #FFFFFF; font-family: Roboto Flex; font-weight: 400; font-size: 16px;  line-height: 24px; letter-spacing: 0%;vertical-align: middle; white-space: nowrap; }



.mobile_text{ display: none; }

.own_website_sec_faqs_footer{ display: none !important; }



.mob_secton_four .web_faq_data{ display: block !important; }
.mob_secton_four .mob_faq_data{ display: none !important; }

